button {
    border: none;
    padding: 12px 24px;
    background-color: tomato;
    color: white;
    transition-duration: 1s;
}

button:hover {
    background-color: violet;
}

input {

    background-color: white;
    border: none;

}

input:focus {

    background-color: blue;

}

input:disabled {

    background-color: red;

}

.hover-container input {

    display:none;

}

.hover-container:hover input {

    display: block;

}

input:valid {
    border-color:greenyellow
}

input:invalid {

    border-color: red;

}

tr {

    display: flex;
    flex-direction: column;

}

td:nth-child(2n) {

    color: red;

}

p::first-letter {

    color: salmon;

}

.checkbox:checked {
    
    transform: scale(2);

}

.input:enabled {
    
    color:turquoise

}